[defaults]
# Where to look for roles — project roles first, then Galaxy roles
roles_path        = roles:~/.ansible/roles
inventory         = inventories/dev/hosts.ini
remote_user       = ubuntu
private_key_file  = ~/.ssh/ecommerce_key
host_key_checking = False
retry_files_enabled = False

# Speed up SSH connections
[ssh_connection]
pipelining          = True
ssh_args            = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
