DJANGO_SETTINGS_MODULE={{ django_settings_module }}
DJANGO_SECRET_KEY={{ django_secret_key }}
DATABASE_URL=postgresql://{{ db_user }}:{{ db_password }}@{{ db_host }}:{{ db_port }}/{{ db_name }}
REDIS_URL=redis://{{ cache_host }}:{{ redis_port }}/0
DJANGO_STATIC_ROOT={{ app_static_dir }}
DJANGO_MEDIA_ROOT={{ app_media_dir }}
ALLOWED_HOSTS={{ django_allowed_hosts | join(',') }}
